{% extends '../layout.njk' %}

{% block content %}

  <article class="bl br bw2 b--white">
   
        {% for event in events %}
        <div class="h-auto bb bw2 b--white pa2">
          <a class="link dim" href="{{ event.website or event.gallery.website }}">
          
            <h2 class="hot-pink ttu f6 mb3">
              {{ event.gallery.name }}
            </h2>
            <h3 class="white-90 f2">
              {{ event.title }}
            </h3>
  
          {% if event.image %}
            <img src="{{ event.image }}" class="h3"/>
          {% endif %}
        </a>
      </div>
        {% endfor %}
   
  </article>

  <!-- <div class="w-100 overflow-scroll">
    <code class="code pre f6 dib pa2 bg-black-80 white-90">{{ events | dump(2) }}</code>
  </div> -->

{% endblock %}
