<!DOCTYPE html>
<html lang="en">
  <head>
    <title>some gallery thing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/tachyons.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  
  <body class="center ph3-ns">
    
      <header class="header ph3">
        <h1 class="f-6 tc ttu mv0">some gallery thing</h1>
      </header>
      <main class="content">
        {% block content %}{% endblock %}
      </main>
      <footer class="footer ph3 pb4 pt3"> 
        <p class="fl"><a href="https://www.instagram.com/somegallerything/">instagram</a></p>
        <p class="fr">website by <a href="http://soniaturcotte.com/">sonia turcotte</a> and <a href="https://toby.codes/">tlwr</a></p>
      </footer>
    
  </body>

</html>
