<!doctype html>
<html>
  <head>
    <title>some gallery thing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="css/tachyons.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
  </head>

  <body>
    <header>
      some gallery thing
    </header>
    <main class="fl w-100 pa2">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
