
<!DOCTYPE html>
<html lang="en">

<html>
  <head>
    <title>some gallery thing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="css/tachyons.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/main.css"/>
  </head>

  <body>
    <header>

      <h1 class="f-headline lh-solid">some gallery thing</h1>
    </header>

    <main>
      {% block content %}{% endblock %}
    </main>
  </body>

</html>
