
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  
  font-family: 'Roboto', 'sans-serif';
  font-weight: 700;
  background-color: #0b0b0b;
  color: #fff;
  max-width: 67rem;

}

h1, h2, h3, p {
  margin: 0;
}

footer a {
  color: #fff;
}

.outline {
  outline: 4px solid #fff;
  outline-offset: -2px;
}

.event-box {
  height: 10rem;
}