
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  
  font-family: 'Roboto', 'sans-serif';
  font-weight: 700;
  background-color: #0b0b0b;
  color: #fff;
}

h1, h2, h3, p {
  margin: 0;
}

footer a {
  color: #fff;
}

.wrapper {
  max-width: 920px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header, .footer {
  grid-column: 1 / -1;
  clear: both;
}