@import url('https://rsms.me/inter/inter.css');

html { font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

$s-pink: #ff1493;
$s-white: #fefefe;
$s-black: #222;

html,
body {
  background-color: $s-black;
}

body {
  color: $s-white;
  margin: 0 auto;
  max-width: 960px;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

}

.header,
.footer {
  grid-column: 1 / -1;
}


a {
  color: $s-white;
}

header {
  color: $s-white;
  margin: 2px;
  outline: 4px solid $s-white;
  padding: .5rem;

  h1 {
    font-size: 4.1rem;
    margin: 0;
  }
}


.event {
  color: $s-white;
  margin: 2px;
  outline: 4px solid $s-white;
  padding: 1rem;

  img {
    filter: brightness(.75);
    margin: .5rem;
    max-height: 140px;
    max-width: 100%;
  }

  .event-details {

    p {
      display: inline;
      padding-right: 20px;
    }

  }
}
