@import url('https://rsms.me/inter/inter.css');
  html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

$s-pink: #ff1493;
$s-white: #fefefe;
$s-black: #222;

html,
body {
  background-color: $s-black;
}

body {
  color: $s-white;
  margin: 0 auto;
  max-width: 960px;
}

/*Grid stuff*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

}

.header, .footer {
  grid-column: 1 / -1;
}


a {
  color: $s-white;
}

header {
  outline: 4px solid $s-white;
  margin: 2px;
  padding: .5rem;
  color: $s-white;


  h1 {
    font-size: 4.1rem;
    margin: 0;
  }
}


.event {
  outline: 4px solid $s-white;
  color: $s-white;
  margin: 2px;
  padding: 1rem;

  img {
    filter: brightness(.75);
    max-height:140px;
    max-width: 100%;
    margin: .5rem;
  }

  .event-details {

    p {
      display: inline;
      padding-right: 20px;
    }

  }

  a {
      text-decoration: none;
    }

}

/*@media screen and (max-width: 500px) {
  .event {
    width: 100%;
  }
}

@media screen and (min-width: 500px) and (max-width: 900px) {
  .event {
    width: 50%;
  }
}

@media screen and (min-width: 900px) {
  .event {
    width: 50%;
  }
}*/
