// sass-lint:disable nesting-depth
@import url('https://rsms.me/inter/inter.css'); // sass-lint:disable-line no-url-domains no-url-protocols

html { font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

$s-pink: #ff1493;
$s-white: #fefefe;
$s-black: #222;

$outline-thickness: 4px;

html,
body {
  background-color: $s-black;
}

body {
  color: $s-white;
  margin: $outline-thickness auto;
  max-width: 960px;
}

.grid-container {
  display: grid;
  grid-auto-rows: minmax(240px, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }

.footer {
  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline;
    padding-right: 1rem;

    &:not(:first-child) {
      float: right;
      padding-left: .5rem;
      padding-right: 0;
    }

    a {
      &:hover,
      &:focus {
        background-color: $s-pink;
        color: $s-black;
      }
    }
  }
}


a {
  color: $s-white;

  &:hover {
    background-color: darken($s-black, 5%);
    cursor: pointer;

    img {
      filter: inherit;
      transition: opacity .15s ease-in;
      }
    }

  &:focus {
    h2 {
      color: $s-pink;
     }

    img {
      filter: grayscale(100%);
    }
  }
}

header {
  color: $s-white;
  margin: calc($outline-thickness / 2);
  outline: $outline-thickness solid $s-white;
  padding: 0;

  h1 {
    border-bottom: 4px solid $s-white;
    box-sizing: border-box;
    font-size: 8.5vw;
    line-height: 1;
    margin: 0;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
  }

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      box-sizing: border-box;
      padding: 1rem;
      text-align: center;
      width: 50%;

      a {
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;

        &:hover,
        &:focus {
          background-color: $s-pink;
          color: $s-black;
        }
      }

      &.active {
        background-color: $s-white;

        a {
          color: $s-black;
          cursor: default;
          pointer-events: none;
        }
      }
    }
  }
}


.event {
  color: $s-white;
  margin: calc($outline-thickness / 2);
  outline: $outline-thickness solid $s-white;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  z-index: 1;

  img {
    bottom: 1rem;
    filter: grayscale(100%) brightness(.6);
    float: right;
    max-height: 8rem;
    max-width: 100%;
    position: absolute;
    right: 1rem;
    z-index: -1;
  }

  .event-details {

    p {
      color: $s-pink;
      display: inline;
      font-size: .8rem;
      line-height: 1.25;
      text-transform: uppercase;
    }

    h2 {
      // sass-lint:disable-block no-vendor-prefixes
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      display: -webkit-box;
      font-size: 2rem;
      line-height: 1.25;
      margin: 0;
      overflow: hidden;
      padding-right: .5rem;
      position: relative;
    }

    .close-date {
      text-align: right;
      width: 50%;
    }

    .gallery {
      width: 50%;
    }

    .event-meta {
      display: flex;
    }

  }
}


@media screen and (max-width: 530px) {
  .header {
    margin: calc($outline-thickness / 2) $outline-thickness;

    h1 {
      font-size: 8vw;
    }

    li {
      a {
        font-size: 4vw;
      }
    }
  }

  .event {
    margin: calc($outline-thickness / 2) $outline-thickness;
  }

  .footer {
    li {
      display: block;
      padding-left: 1rem;

      &:not(:first-child) {
        float: left;
        padding-left: 1rem;
        padding-top: .5rem;
      }
    }
  }
}

@media screen and (min-width: 530px) and (max-width: 960px) {
  .header {
    h1 {
      font-size: 8.3vw;
    }

    li {
      a {
        font-size: 4.2vw;
      }
    }
  }

  .footer {
    li {
      padding-left: 1rem;

      &:not(:first-child) {
        padding-right: 1rem;
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .header {
    h1 {
      font-size: 5.14rem;
    }

    li {
      a {
        font-size: 2.62rem;
      }
    }
  }
}
